<h1>Articles</h1>

<% @articles.each do |article| %>

<!-- We could run this tag
	<! <p><a href="<%#= article_list_path(contact.id) %>"><%#= article.title %></a></p> -->
<!-- But the link_to approach is the much more conventional 'rails way' -->

<p><%= link_to(article.title, article_path(article.id)) %></p>

<% end %>

<%= link_to("Create new article", article_new_path) %>

<p>_________________________________________________________</p>

<ul>
	<li><%= link_to("Home", welcome_path) %></li>
	<li><%= link_to("Class Projects", class_project_path) %></li>
	<li><%= link_to("Contacts", contacts_path) %></li>
</ul>
