<h1>Corey Burkley's Portfolio</h1>
	
	<p>This is my blog</p>
	<ul>
		<li><%= link_to("About me", bio_path) %></li>
		<li><%= link_to("Class Projects", class_project_path) %></li>
		<li><%= link_to("Contacts", contacts_path) %></li>
		<li><%= link_to("My Articles", article_list_path) %></li>
	</ul>

<%= link_to("Sign up!", login_path) %>	